<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fathima.tomton">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Teacher"
            android:label="@string/title_activity_teacher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.fathima.tomton.Teacher" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherLogin"
            android:label="@string/title_activity_teacher">
            <intent-filter>
                <action android:name="com.example.fathima.tomton.teacher_login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewAtt" />
        <activity android:name=".IndividualPro" />
        <activity android:name=".MainWindow" />
        <activity android:name=".MarkAtt" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangePass" />
        <activity
            android:name=".UpdateActivity"
            android:label="@string/title_activity_update" />
        <activity android:name=".ForgotPass" />
        <activity android:name=".ResetPass" />
        <activity android:name=".CheckPassCode" />
        <activity android:name=".ContactActivity"></activity>
    </application>

</manifest>